body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

.largeFont{
  font-size: 130%;
}

.page{
  width: 100vw;
  height: 170vh;
}

.splide__pagination{
  top: 1% !important;
  position: fixed !important;
  height: 5% !important;
  margin: 0% !important;
  padding: 0% !important;
  width: 100% !important;
}

.splide__pagination li{
  width: 25% !important;
}

.splide__pagination__page{
  width: 80% !important;
  height: 25px !important;
  border-radius: 3px !important;
}

.splide__pagination__page.is-active{
  transform: none !important;
  background: #ACA7CB !important;
}

.splide__pagination__page:hover {
  background: #474554 !important;
}

.sidebar {
  position: fixed;
  z-index: 10;
  top: 0px;
  height: 100vh;
  left: -100vw;
  width: 100vw;
  font-size: 50%;
  transition: left 0.3s ease-in-out;
  
}

.sidebar.open {
  left: 0;
}

.sidebar .proper{
  float: left;
  width: 60vw;
  height: inherit;
  background-color: #FFFFFF;
}

.sidebar .proper img{
  margin-top: 20%;
  margin-bottom: 10%;
  z-index: 11;
  width: 60%;
}

.sidebar .proper .label{
  width: 82%;
  padding: 4%;
  margin-top: 4%;
  margin-left: 4%;
  border: 1px rgba(0, 0, 0, 0.233) solid;
  border-radius: 10px;
  font-size: 180%;
  background-color: #aca7cb71;
}

.sidebar .proper .label button{
  margin-top: 4%;
  font-size: 120%;
  border-radius: 5px;
  width: 90%;
  background-color: white;
}

.sidebar .proper .label #selected{
  font-weight: bold; 
  background-color: #ACA7CB;
}

.sidebar .proper .label svg{
  width: 25%;
  height: 25%;
}

.sidebar .proper #closeSmall{
  width: 92%;
  padding: 4%;
  margin-top: 20%;
  margin-left: 0%;
  border: none;
  border-radius: 10px;
  font-size: 180%;
  background-color: #aca7cb71;
}
.sidebar .proper #closeSmall svg{
  width: 25%;
  height: 25%;
}

.sidebar #close{
  float: right;
  width: 40vw;
  height: 100vh;
  background: none;
  border: none;
  backdrop-filter: blur(2px);
}

#topbar{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 7%;
  background-color: rgba(255, 255, 255, 0.76);
  text-align: left;
}

#sidebarButton{
  margin-top: 1.8vh;
  margin-left: 1.8vh;
  background: none;
  border: none;
}

#sidebarButton svg{
  width: 1.8em;
  height: 1.8em;
}


.home{
  overflow:hidden;
}

#loading{
  padding-top: 40vh;
  margin: 0%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: 150vw;
  background-image: url('https://wallpaperaccess.com/full/1806514.jpg');
  background-attachment: fixed;
  text-align: center;
}

#loading h1{
  font-size: 300%;
  color: white;
}

#landing{
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: 150vw;
  background-image: url('https://wallpaperaccess.com/full/1806514.jpg');
  background-attachment: fixed;
}

#moreinfo{
  margin-top: 0vh;
  width: 100%;
  height: 73vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

#temperature{
  padding-top: 12vh;
  padding-left: 10vw;
  width: 80vw;
  height: 16vh;
  padding-bottom: 59vh;
}

#hours{
  height: 10vh;
  width: 95vw;
  padding-left: 2.5vw;
}

.linesInfo{
  height: 6vh;
  width: 88vw;
  padding-left: 6vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.ext{
  height: 12vh !important;
}

.blockInfo{
  height: 18vh;
  width: 88vw;
  padding-left: 6vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.smallfore{
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 24vh;
}





.coming{
  background-color:rgba(105, 105, 105, 0.438);
  border: 1px rgb(61, 61, 61) solid;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: inherit;
}

.forecast{
  padding-top: 12%;
  background-color: rgb(255, 255, 255);
}

.map{
  background-color: #ACA7CB;
}

b{
  font-size:125%;
}
 
 #float-child{
   font-size:125%;
   box-sizing: content-box;
   width: 50%;
   float: left;
   padding-top: 0px;
   
 }

 .humidity{
   margin-left:6%;
   text-align: left;
   font-weight: bolder;
 }

 .cloud{
   font-weight: bolder;
   font-size: larger;
 }

 .coming{
  background-color:rgba(105, 105, 105, 0.438);
  border: 1px rgb(61, 61, 61) solid;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: inherit;
}

.day{
  float:left;
}

 #TimesTop {
   color: white;
 }
 
 #TableTime {
   width: 100%;
   padding-bottom: 0%;
   margin-bottom: 0%;
 }
 
 #Sunrise {
   text-align: center;
   width: 25%;
 }
 
 #Sunset {
   text-align: center;
   width: 25%;
 }
 
 #CurTime{
  -webkit-text-stroke: 1px black;
  text-shadow: 
  -1px -1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black,
  1px 1px 0 black,
  ;
   text-align: center;
   width: 50%;
   font-size: 30pt;
 }
 
 #GoldenHour{
   font-size: 120%;
   width: 100%;
 }
 
 #ddtable {
   width: 100%;
   padding: 0%;
 }
 
 #Dawn{
   width: 50%;
 }
 
 #Dusk{
   width: 50%;
 }
